<?xml version="1.0" encoding="UTF-8"?>
<!--
    IIS site configuration file for Shapespark self-hosting bundles.

    It disables caching by webrowser for htmls, defines content types
    for some file extensions and enables compression.

    More information: https://www.shapespark.com/docs#self-hosting
-->

<configuration>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Enable caching for never changing resources">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern=".*$" />
          </conditions>
          <action type="Rewrite" value="public, max-age=15552000"/>
        </rule>
        <rule name="Disable caching for changing resources">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="(index.html|cover.json)$" />
          </conditions>
          <action type="Rewrite" value="no-store, no-cache, must-revalidate, max-age=0"/>
        </rule>
        <rule name="Disalow content type guessing">
          <match serverVariable="RESPONSE_X_Content_Type_Options" pattern=".*" />
          <action type="Rewrite" value="nosniff"/>
        </rule>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="true" />
    <staticContent lockAttributes="isDocFooterFileName">
      <remove fileExtension=".buf" />
      <mimeMap fileExtension=".buf" mimeType="application/x-buf" />
      <remove fileExtension=".basis" />
      <mimeMap fileExtension=".basis" mimeType="application/x-basis" />
      <remove fileExtension=".wasm" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
